<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo Penanganan Form
    body
        h2 Demo Penanganan Form
        form(action="/", method="post")
            label(for="nama") Masukan Nama Anda :
            input(type="text", name="nama")
            input(type="submit", value="Kirim")