<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo File Statis
    body
        h2 Demo Menyertakan File Statis
        p Gambar diambil dari direktori public/images
        img(src="./images/poto.png", alt="Foto")