<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Books List
    body
        h1 Daftar Buku

        table
            for buku in books   
                tr
                    td #{buku.buku_id}
                    td= buku.buku_judul
                    td= buku.buku_penulis
                    td= buku.buku_penerbit
