<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo Express dan Pug
    body
        h2 Demo Express dan Pug
        p klik dibawah ini untuk melihat pengiriman variable ke template
        a(href="http://localhost:3000/hello/Alex") Alex
        | &nbsp; |
        a(href="http://localhost:3000/hello/Doni") Doni
        | &nbsp; |
        a(href="http://localhost:3000/hello/Ghani") Ghani
        
